@import "../plugins/pickadate.js-3.5.6/lib/themes/classic.css"
@import "../plugins/pickadate.js-3.5.6/lib/themes/classic.date.css"


.collection h3 {
  text-align: center;
}

.collection p {
  font-style: italic;
}

.collection a > img {
  width: 100%;
  overflow: hidden;
}
.collection
  padding 0 1em
  padding-bottom 1em

.collection .sepline
  height 2px
  width 80%
  margin 1em 0
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.75+0,0.9+24,0+100 */
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.9) 24%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.75)), color-stop(24%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.9) 24%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.9) 24%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.9) 24%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.9) 24%,rgba(0,0,0,0) 100%); /* W3C */
.collection .services
  list-style-type circle

.collection .services li
  text-align left

.collection .services li span
  float right