@import './../plugins/fancybox/css/jquery.fancybox.css'

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Merriweather+Sans:400,700');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');

.inner {
  background-color: rgba(236, 249, 254, 1);
  padding-top: 5px;
  padding-bottom: 1em;
  margin-bottom: 20px;
  background-image: url(http://www.transparenttextures.com/patterns/brilliant.png);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  height: auto;
  border: lightslategrey thin solid;
}
input:required, textarea:required {
  outline: none;
}
.inner li {
  text-align: center;
}

.inner ul {
  list-style: none;
}

footer {
  height: 30em;
  width: 100%;
  background-image: url(../templates/images/bg_footer.png);
  background-position-y: bottom;
  position: absolute;
  margin-top: -5em;
  z-index: -12 !important;

  -webkit-transition: all .75s ease-in-out;
  -moz-transition: all .75s ease-in-out;
  -o-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out;
}

footer p
  color: rgba(93, 93, 93, 1) !important;
  font-weight: 400;
  line-height: 1.8em;

footer a {
  color: grey;
}

footer * {
  font-weight: 400;
}

footer img
  width 225px

.background img {
  position: absolute;
  z-index: -2;
  width: 100%;
  overflow: hidden;
}

.background
  top -18%
  position absolute
  width 100%
  z-index -10
  overflow hidden

.main
  margin-top: 18em
  position relative
  padding 0
  .home
    min-height 55em
    -webkit-transition: all .75s ease-in-out;
    -moz-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out;
  .home [ui-view]
    padding 0 1em
    position absolute
    overflow hidden

  [ui-view].ng-enter
  ui-view.ng-enter
    opacity: 0;
    transform scale3d(0.96, 1, .6);
  //translate3d(0, 100px, 0)//

  [ui-view].ng-enter-active, ui-view.ng-enter-active {
    opacity: 1;
    transform scale3d(1, 1, 1); //translate3d(0,0,0)//
  }
  ui-view.ng-leave
  [ui-view].ng-leave
    opacity 1
    transform translate3d(0, 0, 0)

  ui-view.ng-leave-active
  [ui-view].ng-leave-active
    opacity 0
    transform translate3d(0, 100px, 0);

  [ui-view].ng-enter
  [ui-view].ng-leave
    -webkit-transition: all .75s ease-in-out;
    -moz-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out;

/* centered columns styles */
.row-centered
  text-align: center;

.col-centered
  display: inline-block;
  float: none !important;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;

.row > div > img
  max-width: 100%;
  overflow: hidden;

.row > div
  padding: 0 .75em;
  padding-bottom: 1.5em;

body, footer *
  font-family 'Merriweather Sans', sans-serif
  color darkslategray
  margin 0

body p
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  line-height: 1.42857143
  color: #333

h1, h2, h3, h4, h5, .main h3, label
  font-family 'Merriweather', serif !important
  color darkslategray !important

.home .border.col-xs-3
  border-bottom lightgrey 2px dashed
  margin-top 1em
.row
  margin 0

@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }

  footer p {
    font-size: .9em;
  }
}

/* responsive text queries */
@media screen and (max-width: 992px) {
  .main {
    margin-top: 14em;
  }

  .background {
    top: -10%;
  }

  .navbar-nav > li > a {
    line-height: 0;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 1em;
    margin-top: 5em;
  }

  .background img {
    width: 125%;
    left: -12.5%;
  }

  .background {
    top: -20%;
  }

  .navbar-nav > li > a {
    line-height: 20px;

  }
  .home .row .col-sm-offset-1 ul li a{
    position: absolute;
    margin-left: 2.5em;
  }
  .home .border.col-xs-3 {
    border-bottom: none !important;
  }
}

.container-fluid
  padding 0

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: -1 !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+28,0+28,0.65+67,1+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, 0.65) 67%, #000 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(28%, rgba(0, 0, 0, 0)), color-stop(67%, rgba(0, 0, 0, 0.65)), color-stop(100%, #000)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, 0.65) 67%, #000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, 0.65) 67%, #000 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, 0.65) 67%, #000 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, 0.65) 67%, #000 100%); /* W3C */
}
.plusicon {
  background: url('../templates/images/social_icons.png') no-repeat -99px -4px;
  width: 65px;
  height: 63px;
  opacity: .9
}
.twittericon {
  background: url('../templates/images/social_icons.png') no-repeat -5px -171px;
  width: 63px;
  height: 64px;
}
.fbicon {
  background: url('../templates/images/social_icons.png') no-repeat -5px -343px;
  width: 63px;
  height: 63px;
}
.youtubeicon {
  background: url('../templates/images/social_icons.png') no-repeat -255px -5px;
  width: 83px;
  height: 83px;
}
.instagramicon {
  background: url('../templates/images/social_icons.png') no-repeat -5px -430px;
  width: 63px;
  height: 63px;
}
.emailicon {
  background: url('../templates/images/social_icons.png') no-repeat -4px -4px;
  width: 64px;
  height: 63px;
  opacity: .9
}