<div class="collection">
    <div class="inner">
        <h3>Collection</h3>

        <div class="row row-centered">
            <div class="col-xs-3 col-centered">
                <img src="images/stock_usb.jpg">
            </div>
            <div class="col-xs-5 col-centered">
                <a href="http://imgur.com/xQjZbay.png" class='group1' rel="group1">
                    <img src="images/tn/g6_tn.png">
                </a>
            </div>
            <div class="col-xs-3 col-centered">
                <img src="images/tn/sample-wedding-album-6118.jpg" alt="hmmwedingbook">
            </div>
        </div>
        <div class="row">
            <div class="block-center col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <h3>Standard Package</h3>

                <h4>All day photo coverage</h4>

                <p>I will be photographing and capturing your entire day! Not a moment will be missed.</p>

                <h4>Loaded USB drive</h4>

                <p>The flash-drive will be loaded with at least one hundred of your wedding's
                    unwatermarked, professionally edited photos, all the non-edited photos, and a slideshow for both of
                    you
                    to enjoy and easily share among your family and friends.</p>

                <h4>Hard cover wedding album</h4>

                <p>After I hand-pick and professionally edit your best moments, I will send you a high quality, leather
                    covered wedding album.
                    The perfect mantle piece.
                </p>

                <div class="row">
                    <img src="./images/squig1.svg" alt="squiggle1" class="col-xs-6" style="opacity:.6;margin-top:1em;margin-left:-1em;">
                    <h2 class="pull-right col-xs-3 col-xs-offset-3 col-md-3 col-md-offset-3">$2495</h2>
                </div>
                <!--<div class="sepline"></div>-->

                <h4>Additional Services</h4>
                <ul class="services">
                    <li>Engagement photoshoot session<span>$400</span></li>
                    <li>High quality prints<span>(Contact)</span></li>
                    <li>Thank you cards<span>$2/Card</span></li>
                </ul>
                <div class="row" style="margin:1em auto">
                    <button class="pull-right col-xs-3 col-xs-offset-7 col-md-2 col-md-offset-9 btn btn-default"
                            ng-click='toTop(".home")' ui-sref="home.contact">Contact
                    </button>
                </div>

            </div>
        </div>
    </div>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-62240670-2', 'auto');
        ga('send', 'pageview');
    </script>
</div>
