<div class="row" id="default">
    <div class="col-xs-3">
        <a href="http://i.imgur.com/r732CyO.jpg" class="group1" rel="group1">
            <img src="images/tn/s1.jpg" alt="Seth Eastwood Photography"
                 style="margin-bottom:1em;">
        </a>
        <a href="http://imgur.com/5yYzOPI.jpg" class="group1" rel="group1">
            <img src="images/tn/m1.jpg" alt="Seth Eastwood Photography">
        </a>
    </div>

    <div class="col-xs-6">
        <a href="http://i.imgur.com/5mMjxfs.jpg" class="group1" rel="group1">
            <img src="images/tn/l1.jpg" alt="Seth Eastwood Photography">
        </a>
    </div>



    <div class="col-xs-3">
        <a href="http://i.imgur.com/WbUpy9j.png" class="group1" rel="group1">
            <img src="images/tn/s7.png" alt="Seth Eastwood Photography" style="margin-bottom:1em;">
        </a>

        <a href="http://imgur.com/eZaF14C.jpg" class="group1" rel="group1">
            <img src="images/tn/s4.jpg" alt="Seth Eastwood Photography">
        </a>
    </div>

    <div class="col-md-4 col-xs-4">
        <a href="http://imgur.com/9ymceUf.jpg" class="group1" rel="group1">
            <img src="images/tn/v1.jpg" alt="Seth Eastwood Photography">
        </a>
    </div>

    <div class="col-md-4 col-xs-4">
        <a href="http://imgur.com/bn2iVgB.jpg" class="group1" rel="group1">
            <img src="images/tn/v2.jpg" alt="Seth Eastwood Photography">
        </a>
    </div>
    <div class="col-md-4 col-xs-4">
        <a href="http://imgur.com/skORdQq.jpg" class="group1" rel="group1">
            <img src="images/tn/v3.jpg" alt="Seth Eastwood Photography">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-4">
        <a href="http://imgur.com/hVXWey0.jpg" class="group1" rel="group1">
        <img src="images/tn/s3.jpg" alt="Seth Eastwood Photography">
    </a>

    </div>
    <div class="col-lg-3 col-md-4 col-xs-4">
        <a href="http://imgur.com/mXb7W8b.jpg" class="group1" rel="group1">
            <img src="images/tn/s5.jpg" alt="Seth Eastwood Photography">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-4">
        <a href="http://imgur.com/J4sjSMo.jpg" class="group1" rel="group1">
            <img src="images/tn/s2.jpg" alt="Seth Eastwood Photography">
        </a>
    </div>
    <div class="col-lg-3 hidden-xs hidden-sm hidden-md">
        <a href="http://imgur.com/SJwnHha.png" class="group1" rel="group1">
            <img src="images/tn/s6.png" alt="Seth Eastwood Photography">
        </a>
    </div>
    <div class="col-xs-6">
        <a href="http://imgur.com/uflSVTp.jpg" class="group1" rel="group1">
            <img src="images/tn/l2.jpg" alt="Seth Eastwood Photography">
        </a>
    </div>
    <div class="col-xs-6">
        <a href="http://imgur.com/palvoYV.jpg" class="group1" rel="group1">
            <img src="images/tn/l3.jpg" alt="Seth Eastwood Photography">
        </a>
    </div>
<div style="display:none;">
    <a href="http://imgur.com/M32ONKL.jpg" class="group1" rel="group1"></a>
    <a href="http://i.imgur.com/hjcvauC.png" class="group1" rel="group1"></a>
    <a href="http://i.imgur.com/ywnn2qd.png" class="group1" rel="group1"></a>
    <a href="http://i.imgur.com/Pxk9YCZ.png" class="group1" rel="group1"></a>
    <a href="http://i.imgur.com/NejR7D1.png" class="group1" rel="group1"></a>
    <a href="http://i.imgur.com/J0Fkclh.png" class="group1" rel="group1"></a>
</div>



</div>
