<section class="home">
    <div class="row block-center">
        <div class="border col-xs-3 col-sm-offset-1">
            <nav>
                <ul class="nav navbar navbar-nav text-align">
                    <li><a ui-sref="home.collection">YOUR COLLECTION</a></li>
                </ul>
            </nav>
        </div>

        <a ui-sref="home.default">
            <h3 class="col-xs-6 col-sm-4 text-center" style="margin-top:0;">
                TWIN CITIES<br>WEDDING<br>PHOTOGRAPHY
            </h3>
        </a>

        <div class="border col-xs-3">
            <nav>
                <ul class="nav navbar navbar-nav">
                    <li><a ui-sref="home.contact">BOOK YOUR DATE</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <section ui-view></section>

</section>